<h1><%= t "forgot_password.subject"%></h1>
<p><%= t "forgot_password.email.title"%></p>
<%= link_to t("forgot_password.reset"), edit_password_reset_url(id: @user.reset_token,
                                                      email: @user.email) %>
<p><%= t "forgot_password.email.expire_message"%></p>
<p><%= t "forgot_password.email.info_message"%></p>
