<% @user ||= current_user %>
<div class="stats">
  <a href="<%= followings_path @user %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <%= t "relationships.followed"%>
  </a>
  <a href="<%= followers_path @user %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <%= t "relationships.follower"%>
  </a>
</div>
